body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1d0c4a;
    color: #7d6363;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  .booking-form {
    margin-bottom: 20px;
  }
  
  .booking-form form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  
  .booking-form label {
    margin-bottom: 10px;
  }
  
  .booking-form input[type="date"],
  .booking-form input[type="number"],
  .booking-form input[type="submit"] {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .search-results ul {
    list-style: none;
    padding: 0;
  }
  
  .search-results li {
    margin-bottom: 20px;
  }
  
  .search-results h3 {
    margin: 0;
  }
  
  .search-results p {
    margin: 0;
  }
  
  .search-results a {
    display: inline-block;
    background-color: #572727;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
  }
  footer {
    color: #1d0c4a;
    background-color: #e7c2c2;
  }